body {
    background-color: #090115;
    background-size: cover;
    background-position: center;
}
#start-button {
    background-color: #090115;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}